.large, .medium, .medium-large {
    display: none;
}

body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: Roboto;
}

#box {
    background-color: rgba(118,108,108, 0.5);
    margin: 50px;
    padding: 50px;
}

#box h1 {
    text-align: center;
}

.form-group, .form-control {
    margin-bottom: 20px;
}

.innerBox {
    background-color: rgba(118,108,108, 0.8);
    padding: 10px;
    margin-bottom: 20px;
}